.c-frames-viewer__actions {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

button + button {
  margin-left: 0.5rem;
}

.modal__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  bottom: 2rem;
}

.modal__text {
  border-radius: 3px;
  position: relative;
}

.modal__close {
  text-align: right;
  cursor: pointer;
}
