:root {
  --color-dark:  #161616;
  --color-ocean:  #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
}

.button {
  border: none;
  order: none;
  background-color: blueviolet;
  color: white;
  border-radius: 3px;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}


.button:hover {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: .85;
}

.button:active {
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  opacity: .75;
}

.button:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.button:disabled {
  border: 1px solid grey;
  background-color: lightgrey;
  opacity: 0.65;
  cursor: not-allowed;
  box-shadow: none;
}

.button--salmon {
  color: var(--color-snow);
  background: var(--color-salmon);
}

.button--sun {
  color: black;
  background: var(--color-sun);
  box-shadow: none;
}

.button--big-font {
  font-size: 1.3rem;
}
